{% extends "shortener/base.html" %}
{#{% load crispy_forms_tags %}#}

{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Your Generated URLS</legend>
            <div class="table-container col">
                {% for object in objects %}
                    <div class="row" align="left">
                        <div class="col-md-10">
                            <p class="text-info">"{{ object.user.username }}:"
                            <a target="_blank" class="list-group-item-info col" href="{{ object.get_absolute_url }}">{{ object.short_url }}</a>
                            <br>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </fieldset>
    </div>
{% endblock content %}